<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsultorioFernandaHackLib.Properties.Settings.FernandaHackenhaarConnectionStringProd"
            connectionString="Data Source=DESKTOP-KK3OL6K\SQLEXPRESS;Initial Catalog=FernandaHackenhaar;Persist Security Info=True;User ID=uFernanda;Password=Fernanda1"
            providerName="System.Data.SqlClient" />
        <add name="ConsultorioFernandaHackLib.Properties.Settings.FernandaHackenhaarConnectionString"
            connectionString="Data Source=DEVSOL9\SQLEXPRESS;Initial Catalog=FernandaHackenhaar;Persist Security Info=True;User ID=uFernanda;Password=Fernanda1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>